{% extends 'profile.html' %}
{% block title %}Мои ссылки{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Короткая ссылка</th>
      <th scope="col">Длинная ссылка</th>
      <th scope="col">Доступ</th>
      <th scope="col">Кол-во переходов</th>
        <th scope="col">Дей-вия</th>
    </tr>
  </thead>
  <tbody>
  {% for item in arr %}
    <tr>
      <th scope="row">{{item[0]}}</th>
      <td><a href="{{item.long}}">{{item[1]}}</a></td>
      <td><a href="{{item.long}}">{{item[2]}}</a></td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
        <td><button class="btn btn-light">✏️</button> <button class="btn btn-light">❌</button></td>
    </tr>
  {% endfor%}
    <tr>
  </tbody>
</table>
{% endblock %}