{% extends 'profile.html' %}
{% block title %}Мои ссылки{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-danger">
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endwith %}

<form method="post" class="mb-3 mt-5">
    <h4>Добавить ссылку</h4>
  <div class="mb-2">
    <label for="exampleInputLong" class="form-label col-4">Вставьте длинную ссылку</label>
    <input type="text" class="form-control col-4" id="exampleInputLong" name="long">
  </div>

  <div class="mb-2">
    <label for="exampleInputShort" class="form-label col-4">Вставьте короткую ссылку</label>
    <input type="text" class="form-control col-4" id="exampleInputShort" name="short">
  </div>

  <label>Выберите уровень доступа</label>
  <select class="form-select mb-2 col-4" aria-label="Default select example" name="lvl">
  <option value="Публичная">Публичная</option>
  <option value="Общего доступа">Общего доступа</option>
  <option value="Приватная">Приватная</option>
</select>

  <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Короткая ссылка</th>
      <th scope="col">Длинная ссылка</th>
      <th scope="col">Доступ</th>
      <th scope="col">Кол-во переходов</th>
        <th scope="col">Дей-вия</th>
    </tr>
  </thead>
  <tbody>
  {% for item in arr %}
    <tr>
      <th scope="row">{{item[0]}}</th>
      <td><p>{{item[1]}}</p></td>
      <td><p>{{item[2]}}</p></td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
        <td><button name="edit" data-id="{{item[0]}}" class="btn btn-light edit">✏️</button> <a href="/del?id={{item[0]}}" name="del" class="btn btn-light">❌</a></td>
    </tr>
  {% endfor%}
    <tr>
  </tbody>
</table>
{% endblock %}